@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f0e8;
}

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #f1f0e8;
    border-radius: 8px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 10px;
}

legend {
    font-size: 22px;
    font-weight: 600;
    color: #2b2b2b;
    margin-bottom: 0px;
    text-align: left;
}

h2{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10;
    border-bottom: 1px solid #2b2b2b;
    margin-bottom: 15px;
    color: #2b2b2b;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    background: #f9f9f9;
}

input:focus {
    border-color: #89a8b2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.select-box {
    width: 100%;
    position: relative;
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    appearance: none;
    cursor: pointer;
}

.select-box::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #555;
}

select:focus {
    border-color: #89a8b2;
    outline: none;
    background-color: #fff;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background: #89a8b2;
    color: #2b2b2b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #718b96;
}

.message-box {
    margin-top: 10px;
    padding: 10px;
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


@media (max-width: 500px) {
    .form-container {
        width: 90%;
        padding: 15px;
    }
}

