@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
}

body {
    background-color: #f6f8ef;
    display: flex;
}

.dashboard {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #2b2b2b;
    padding: 20px;
    height: 100vh;
    color: white;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 20px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: left;
    margin-top: 80px;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #2b2b2b;
    align-items: center;
}

.profile-details h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 16px;
    margin: 10px 0;
}

.update-btn {
    background-color: #89a8b2;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.update-btn:hover {
    background-color: #718b96;
}
